@page "/"

<PageTitle>Home</PageTitle>

<h1></h1>

<head>
    <title>DevManager</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            @*padding: 20px;*@
            background-color: #f4f4f9;
            color: #333;
        }

        h1 {
            color: #2c3e50;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #3498db;
            color: white;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Tareas</th>
                <th>Estado</th>
                <th>Prioridad</th>
                <th>Resp</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Tarea 1</td>
                <td>Inicio</td>
                <td>Alta</td>
                <td>Juan</td>
            </tr>

            <tr>
                <td>Tarea 2</td>
                <td>En Progreso</td>
                <td>Media</td>
                <td>Ana</td>
            </tr>

            <tr>
                <td>Tarea 3</td>
                <td>Finalizada</td>
                <td>Baja</td>
                <td>Carlos</td>
            </tr>
        </tbody>
    </table>
</body>