<h3>Panel_de_Proyectos</h3>

<h2>Esta seccion llevara algunas informaciones las cuales son las siguientes</h2>
<p>
    Esta pantalla llamada panel de proyecto, se podra ver los proyectos creados y entrar a uno por medio a algunos botones

    Los botones son: CREAR, EDITAR, y DETALLES

    - Con el boton crear se podra crear un proyecto 
    - Con el boton editar, se podra editar un proyecto existente (creo que es una pantalla que se abre para crear y otra diferente para editar, no se)

    - Con el boton detalles, SE ABRE UNA PANTALLA donde muestra toda la informacion de ese proyecto seleccionado

    ADEMAS DE ESO, tambien tendra una pantalla para de PANEL DE TAREAS, donde se veran todas las tareas existentes de ese proyecto seleccionado
    Tambien contara con los botones de CREAR, EDITAR, DETALLES DE TAREA, ASIGNAR TAREA
    - El boton crear, abre una pantalla para crear una tarea nueva
    - El boton editar, abre una pantalla para crear una tarea existente
    - el boton detalles de tarea, abre una pantalla para ver la tarea seleccionada
    - El boton asignar tarea, abre una pantalla para seleccionar el desarrollador para asignarle la tarea
</p>

@code {

}
